alembic==1.5.8
click==7.1.2
colorama==0.4.4
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
importlib-metadata==4.0.1
Mako==1.1.4
MarkupSafe==1.1.1
psycopg2==2.8.6
pydantic==1.8.1
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
PyYAML==5.4.1
six==1.15.0
SQLAlchemy==1.4.11
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
watchgod==0.7
websockets==8.1
zipp==3.4.1
